/* .card_wrapper{
  background-color: #eeee;
  display: flex;
  padding: 5% 0;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px 40px;
} */